div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top{
    width: 100%;
    height: 67px;
    background-color: #C3CFD9;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
    color: #E8833A;
    position: fixed;
    top: 0;
    left: 0;
}

.message{
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #293845;
    position: fixed;
    top: 67px;
    left: 0;
}
